---
layout: category
---
<!-- Sreeraag Mohan -->
<!DOCTYPE html>
<html class="no-js" lang="en">
   {% include category-head.html %}
    <body>
	<link rel="stylesheet" href="../../css/category.css">
	<div class="row" id="category">
	    <div id="menuToggle">
            <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
            <ul id="menu">
              <a href="/"><li>Home</li></a>
              <a href="/category/thoughts"><li>Thoughts</li></a>
              <a href="/category/bookmarks"><li>Bookmarks</li></a>
              <a href="/category/espresso"><li>Espresso</li></a>
              <a href="/category/shutterbug"><li>Shutterbug</li></a>
            </ul>
      </div>
	</div>
	<div class="container">
		{{content}}
	</div>
	{% include scripts.html %}
	</body>
</html>
