<!-- Sreeraag Mohan -->
<!DOCTYPE html>
<html class="no-js" lang="en">
   {% include head.html %}
    <body>
        <section>
                <div class="col-sm-6" id="leftPanel">
                    <input type="checkbox" id="hamburger"/>
                        <label class="menuicon" for="hamburger">
                          <span></span>
                        </label>
                    <div class="menu">
                    </div>  
                    <div id="leftPanelContent">                  
                        <center>
                            <h1>
                                Hey, I'm Sreeraag,
                                </br>
                                </br>
                                thinker, wanderer, storyteller, developer.
                                </br>
                                Proud Malayali residing in Bengaluru, KA. 
                                <a href="/category/thoughts">Thoughts</a>
                            </h1>
                        </center>
                    </div>
                </div>
                <div class="col-sm-6" id="rightPanel">
                    <div id="rightPanelContent">
                        <h2>Who am I?</h2>
                        <p>Hello, world. The name is Sreeraag Mohan. I'm a front-end developer born and raised in Muscat, Oman, currently working in Bangalore, India at People10 Technologies.</p>
                        <h2>What do I know?</h2>
                        <p>Fluent in HTML5, CSS3 and SASS. JavaScript fanboy and works on AngularJS and jQuery. Rusty with good ol' PHP, experimental with ReactJS. I've also developed hybrid mobile applications with the Ionic Framework.</p>
                        <h2>What have I done?</h2>
                        <p>
                    </div>
                </div>
        </section>
       {% include scripts.html %}
    </body>
</html>
