<!-- Sreeraag Mohan -->
<!DOCTYPE html>
<html class="no-js" lang="en">
   {% include head.html %}
    <link rel="stylesheet" href="css/main.css">   
    <body>
        <section>
            <div class="col-sm-6" id="leftPanel">
                    <div id="menuToggle">
                        <input type="checkbox" />
                            <span></span>
                            <span></span>
                            <span></span>
                        <ul id="menu">
                          <a href="/"><li>Home</li></a>
                          <a href="../category/thoughts"><li>Thoughts</li></a>
                          <a href="../category/bookmarks"><li>Bookmarks</li></a>
                          <a href="../category/espresso"><li>Espresso</li></a>
                          <a href="../category/shutterbug"><li>Shutterbug</li></a>
                        </ul>
                    </div>
                    <div id="leftPanelContent">                  
                        <center>
                            <h1>
                                Hey, I'm Sreeraag,
                                </br>
                                </br>
                                thinker. wanderer. storyteller. developer.
                                </br>
                                Proud Malayali residing in Bengaluru, KA. 
                            </h1>
                        </center>
                    </div>
                </div>
                <div class="col-sm-6" id="rightPanel">
                    <div id="rightPanelContent">
                        <h2>Who am I?</h2>
                        <p>Hello, world. The name is Sreeraag Mohan. I'm a front-end developer born and raised in Muscat, Oman, currently working in Bangalore, India at People10 Technologies.</p>
                        <h2>What do I know?</h2>
                        <p>Fluent in HTML5, CSS3 and SASS. JavaScript fanboy and works on AngularJS and jQuery. Rusty with good ol' PHP, experimental with ReactJS. I've also developed hybrid mobile applications with the Ionic Framework.</p>
                        <h2>What have I done?</h2>
                        <p>I'm more of a guy who focuses a lot on how things look and <i>feel.</i> I've made a few flyers and posters for events at college, check them out on my <a class="text-link" href="https://www.behance.net/sree_mohan">Behance</a> profile.</p>
                        <p>The zenith of my college education was probably my project, titled <b>nucleus.</b> We implemented a peer-to-peer image sharing application that uses an optimal compression algorithm to send compressed image files over an ad-hoc Wi-Fi network. Check out the whole project planning process, docs and code <a class="text-link" href="https://github.com/TheAndroidApp/Nucleus">here.</a>
                    </div>
                </div>
        </section>
       {% include scripts.html %}
    </body>
</html>
