{% include head.html %}

<body>
    <div id="wrapper">

        <div id="intro">
            <div id="about">
                <div id="bio">
                    <h2>My name is Sreeraag Mohan and I am a software engineer at <span class="link"><a
                                href="http://www.voiro.com/" target="blank">Voiro</a></span> in
                        Bengaluru, India. I graduated from the
                        National Institute of Technology at Kozhikode with a BTech in Computer Science and Engineering.
                        </br></br>
                        Feel free to drop me an email at <span class="link"><a href="mailto:sreeraagmohan@gmail.com"
                                target="blank">sreeraagmohan@gmail.com</a></span>
                        or reach out to me on <span class="link"><a href="https://linkedin.com/in/sreeraagmohan/"
                                target="blank">LinkedIn</a></span>.</h2>

                    <h2>Thinker, wanderer, storyteller, engineer. Scroll down to learn more about me and who I am.</h2>
                </div>
            </div>
        </div>

        <!-- Espresso -->
        <section>
            <div class="container">
                <img
                    src="https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?cs=srgb&dl=apple-black-and-white-black-and-white-169573.jpg&fm=jpg" />
            </div>
        </section>

        <div class="left-column">
            <h1>Espresso</h1>
            <a href="https://github.com/sreeraagmohan">
                <h3>View my Github profile</h3>
            </a>
        </div>

        <div class="right-column">
            <h2>I first started coding when I was 10 years old, and the passion has remained ever since. From simple
                command
                line programs to complex <span class="link"><a href="https://github.com/sreeraagmohan/Nucleus">mobile
                        applications</a></span>
                that involve Artificial Intelligence and Machine Learning, I have always tried to learn, learn and then
                even more.
            </h2>
        </div>

        <!-- Thoughts -->
        <section>
            <div class="container">
                <img src="images/thoughts.jpg" />
            </div>
        </section>

        <div class="left-column">
            <h1>Thoughts</h1>
            <a href="https://medium.com/@sreeraagmohan">
                <h3>View my Medium page</h3>
            </a>
        </div>

        <div class="right-column">
            <h2>An introvert by nature, I spend a lot of time cuddled up in my room, alone with a cup of coffee, my
                thoughts
                and a Moleskine notebook to jot them down. My <span class="link"><a
                        href="https://medium.com/@sreeraagmohan">
                        Medium</a></span> page is an amalgation of those seemingly random lines of prose, interspersed
                with
                stories from my travels from the few weeks I spent backpacking across Ladakh and Rajasthan in the year
                2017.
                Feel free to clap, comment and criticize: they will definitely help me write better, engaging prose.
            </h2>
        </div>

        <!--- Bookmarks -->
        <section>
            <div class="container">
                <img src="https://cdn-images-1.medium.com/max/800/1*m2Ho0B9KNMdVD49tdNWrqw.jpeg" />
            </div>
        </section>

        <div class="left-column">
            <h1>Bookmarks</h1>
            <a href="https://www.goodreads.com/sreeraagmohan">
                <h3>View my Goodreads profile</h3>
            </a>
        </div>

        <div class="right-column">
            <h2>My love for the written word made me challenge myself to read more books every year. Starting 2016, I
                have
                made conscious decisions to read more engaging, thought-provoking and well-written literature. You can
                find
                my reading list, my reviews and what I have shelved to read later this year over at Goodreads. I have
                also
                written an answer on <span class="link"><a
                        href="https://www.quora.com/What-are-your-reading-goals-for-2018/answer/Sreeraag-Mohan">Quora</a></span>
                for those of you who want to know what my reading goals for the year are.</h2>
        </div>

        <!-- Shutterbug -->
        <section>
            <div class="container">
                <img src="https://photoresolution.com/wp-content/uploads/2015/12/DSLRcamera-800x534.jpg">
            </div>
        </section>

        <div class="left-column">
            <h1>Shutterbug</h1>
            <a href="https://instagram.com/sreeraag.mohan">
                <h3>View my Instagram profile</h3>
            </a>
        </div>

        <div class="right-column">
            <h2>
                My first camera was a Canon IXUS, with which I experimented quite a lot with everything that a
                semi-professional camera had to offer.
                I've since graduated to a Nikon DSLR and a trusty OnePlus 5T for those spontaneous photographs that the
                bulky DSLR could miss. Most of the photos I have taken are from my travels, and represent my favourite
                emotion: solitude.
            </h2>
        </div>


        <footer>
            <div class="line"></div>
            <h3>&#169;2019 Sreeraag Mohan.</h3>
            <a href="mailto:sreeraagmohan@gmail.com" target="blank">
                <h3>sreeraagmohan@gmail.com</h3>
            </a>
        </footer>

    </div>
</body>